@{
  ViewData["Title"] = "Home Page";
}

<h2>Jobs</h2>

<app-root></app-root>

<script src="~/JobsClientCompiled/dist/inline.bundle.js"></script>
<script src="~/JobsClientCompiled/dist/polyfills.bundle.js"></script>
<script src="~/JobsClientCompiled/dist/styles.bundle.js"></script>
<script src="~/JobsClientCompiled/dist/vendor.bundle.js"></script>
<script src="~/JobsClientCompiled/dist/main.bundle.js"></script>